name: build
on:
  push:
    branches:
      - main
    tags:
      - "*"
  workflow_dispatch:
jobs:
  windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 6.0.x
      - name: Restore
        run: dotnet restore
        shell: pwsh
      - name: Publish VHDMounter
        run: dotnet publish ./VHDMounter.csproj -c Release -r win10-x64
        shell: pwsh
      - name: Publish Updater
        run: dotnet publish ./Updater/Updater.csproj -c Release -r win10-x64
        shell: pwsh
      - name: Publish UpdatePackagerGUI
        run: dotnet publish ./UpdatePackagerGUI/UpdatePackagerGUI.csproj -c Release -r win10-x64
        shell: pwsh
      - name: Collect single
        run: |
          New-Item -ItemType Directory -Force -Path ./single | Out-Null
          Copy-Item -Force ./bin/Release/net6.0-windows/win10-x64/publish/VHDMounter.exe ./single/VHDMounter.exe
          Copy-Item -Force ./Updater/bin/Release/net6.0-windows/win10-x64/publish/Updater.exe ./single/Updater.exe
          Copy-Item -Force ./UpdatePackagerGUI/bin/Release/net6.0-windows/win10-x64/publish/UpdatePackagerGUI.exe ./single/UpdatePackagerGUI.exe
        shell: pwsh
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: single-win10-x64
          path: single
